.popup {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 20vh;
    background: yellow;
    height: 100px;
    z-index: 10;
  }
  .popup button {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .popup em {
    position: relative;
    top: -5px;
  }
  a:hover { color: red; }
.klasse:hover  { color: red; }
#id-bezeichnung:hover  { color: red; }
[title]:hover  { color: red; }

