



body{
background-color: rgb(108, 216, 243); 
padding: middle;
font: Courier;
font: 14px Courier;
text-decoration: none;
color: black;
padding: 0px 5px 0px 5px;
border-right: 2px solid rgb(255, 255, 255);



}
p,
.bild2{
max-width: 100%;
margin: 0 auto;
height: auto;
padding: middle;
background: rgb(177, 230, 248);

}


img {
    max-width: 100%;
    height: auto;
    padding: middle;
}

p{
    background: rgb(108, 216, 243); 
    color:rgb(0, 0, 0);
    font-size: 24px;
}
.button:empty::before{
background-color: aliceblue;
}


button{
background-color: #d8fcf9;
font-size:  30px;
border-radius: 6px;
}

button:hover {
  background-color: lightcyan;
}

#beschreibung{
    padding: auto;
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif
}

@keyframes pulse {
    20% {
      padding: 30px;
      background-color: rgb(13, 79, 122);
    }
  }
  button {
    border: 1px solid black;
    width:min-content;
    background-color: rgb(165, 205, 252);
    padding: 1px;
    animation: pulse 2s;
    transition: background-color 1s, padding 2s ease  }
 
 
    /*label:hover {
    background-color: red;
    padding: 30px;
  }
  */
  div{
      padding-left: 70%;
  }
  